 #container {
     width: 100vw;
     height: 100vh;
     display: grid;
     grid-template-rows: 100%;
     grid-template-columns: 20% 80%;

     #sidebar {
        background-color: green;
     }
     #content {
         background-color: grey;
     }
 }