@import "./../helpers/variables";

#container {
     width: 100vw;
     height: 100vh;
     display: grid;
     grid-template-rows: 7.5% 87.5% 5%;
     grid-template-columns: 12.5% 87.5%; 
 

     #header {
        background-color: $color-primary-0;
        box-shadow: 0px 0px 10px .5px rgba(0,0,0,0.75); 
        z-index: 3;
 
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 3;
     }

     #sidebar {
        background-color: $color-primary-1;
        box-shadow: 0px 0px 10px .5px rgba(0,0,0,0.75);

        margin-left: -10%;
        transform: skewX(-2deg); 

        z-index: 2;

        grid-row-start: 2;
        grid-row-end: 2; 
     } 

     #content {  
        z-index: 1;
        
        grid-row-start: 2;
        grid-row-end:2; 
     }

     #footer {  
        background-color: $color-primary-4;
        z-index: 3;
        
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end:3; 
     }
 }